{
	auto_https off
	admin off
}

:8080 {
	encode zstd gzip

	@backend path /api /api/* /socket.io /socket.io/*
	handle @backend {
		reverse_proxy backend:3005
	}

	handle /data/* {
		root * /srv
		file_server
	}

	handle /tiles/* {
		root * /srv
		file_server
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}
}
